.container {
  background: #f0f0f0 none repeat scroll 0 0;
  border: 10px solid #7f98b1;
  min-height: 749px;
  padding: 0 21px 21px;
}
body{
  background: #ddd;
}

select,
input,
textarea {
    margin: 4px;
    width: 100%;
    border: 2px inset #ddd;
}

#currency,
#comm {
    width: 44%;
}

#ckboxwidth {
    width: 30px;
}

#payment {
    width: 70%;
}

table {
    width: 100%;
}

fieldset {
  border: 2px solid #ffffff;
  margin: 0;
  min-width: 0;
  padding: 5px 10px;
}

legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: none;
    border-width: 0;
    color: #000;
    display: block;
    font-size: 17px;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0;
    max-width: 50%;
}

.indentFont {
    font-weight: 600;
    color: #000;
}
.indentMenu{
  border-top: 3px inset #ddd;
  padding-top: 5px;
}

.indentMenu ul {
    list-style: none;
}

.indentMenu ul li {
    display: inline-block;
}

.indentMenu ul li a {
    color: #000;
    display: block;
    border: 1px solid #b4b4b4;
    padding: 2px 10px;
    text-decoration: none;
    background: #e7e7e7;
}
#genInfo,#proInfo{
  min-height: 450px;
  padding-bottom: 20px;
}